/* Basic Style */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

/* Header */
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

/* Main */
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* Task */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__label,
.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__input {
  width: 226px;
  margin: 0;
  display: none;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

.task__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task__button:hover {
  color: #3a3a3a;
}

.task__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-img:hover {
  transform: rotateZ(0);
}

/* New Task */
.task-section__title_new {
  display: block;
  margin: 0 0 20px;
}

.task_new {
  display: flex;
}

.task__input_new {
  width: 318px;
  display: inline-block;
}

/* Completed */
.task-list_completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task_edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.task_edit-mode .task__label {
  display: none;
}