/* Reset Style */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input,
button {
    outline: none;
}

/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__image {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.adding-task__wrapper {
    display: flex;
}

.adding-task__input,
.task__input,
.task__label {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.btn {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.btn:hover {
    color: #3a3a3a;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
}

/* Heading */
.title,
.adding-task__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.adding-task__input,
.task__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.adding-task__input:focus,
.task__input:focus {
    color: #333;
}

/* New Task */
.adding-task__label {
    display: block;
    margin: 0 0 20px;
}

.adding-task__input {
    width: 318px;
}

/* Task list */
.task {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task > * {
    vertical-align: middle;
}

.task__checkbox {
    margin: 0 10px;
}

.task__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task__input {
    width: 226px;
}

.btn__img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.btn__img:hover {
    transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task__label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.task .task__input {
    display: none;
}

.task.task_edit .task__input {
    display: inline-block;
    width: 224px;
}

.task.task_edit .task__label {
    display: none;
}