/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.task-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.add-form__input,
.item__text,
.item__text-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-form__content {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
li, 
h1,
h2 {
  list-style: none;
}
input,button{
  outline: none;
}
.add-form__button,
.item__edit-button,
.item__delete-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.add-form__button:hover,
.item__edit-button:hover,
.item__delete-button:hover {
  color: #3a3a3a;
}
/* Heading */
.add-form__header,
.todo__header,
.done__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-form__input,
.item__text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.add-form__input:focus,
.item__text-input:focus {
  color: #333;
}

/* New Task */
.add-form__header {
  display: block;
  margin: 0 0 20px;
}
.add-form__header {
  width: 318px;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item > * {
  vertical-align: middle;
}

.task-status {
  margin: 0 10px;
}
.item__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.item__text-input {
  width: 226px;
}
.delete-button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete-button__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.done__list .item__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item__text-input {
  display: none;
}

.item--edit-mode .item__text-input {
  display: inline-block;
  width: 224px;
}

.item--edit-mode .item__text {
  display: none;
}