.main {
	background-color: #f8f8f8;
	color: #333;
	font-family: Lato, sans-serif;
}

.info {
	width: 500px;
	margin: 0 auto;
	display: block;
	text-align: right;
}

.info__preview {
	width: 100%;
}

.info__link {
	font-family: fantasy, cursive;
}

.todo-app__title {
	display: none;
}

@media (max-width: 768px) {
	.info-section {
		text-align: center;
	}
}

.todo-app {
	display: block;
	width: 500px;
	margin: 0 auto 0;
}

.todo-app__input_type_add,
.todo-app__task-label,
.todo-app__input_type_edit {
	width: 56%;
	display: inline-block;
	flex-grow: 1;
}

.todo-app__input-wrapper {
	display: flex;
}

#todo-tasks,
#completed-tasks {
	margin: 0;
	padding: 0px;
}

.todo-app__item,
.todo-app__section-title {
	list-style: none;
}

.todo-app__input_type_complete,
.todo-app__input_type_edit,
.todo-app__input_type_add,
.todo-app__button {
	outline: none;
}

.todo-app__button {
	background: none;
	border: 0px;
	color: #888;
	font-size: 15px;
	width: 60px;
	font-family: Lato, sans-serif;
	cursor: pointer;
}

.todo-app__button:hover {
	color: #3a3a3a;
}

/* Heading */
.todo-app__section-title,
.todo-app__add-label {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 2px solid #333;
	padding: 30px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

.todo-app__input_type_add,
.todo-app__input_type_edit {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 21px;
	padding: 0 9px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 6px;
	font-family: Lato, sans-serif;
	color: #888;
}

.todo-app__input_type_add:focus,
.todo-app__input_type_edit:focus {
	color: #333;
}

/* New Task */
.todo-app__add-label {
	display: block;
	margin: 0 0 20px;
}

.todo-app__input_type_add {
	width: 318px;
}

/* Task list */
.todo-app__item {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-app__item > .todo-app__input_type_complete,
.todo-app__item > .todo-app__task-label,
.todo-app__item > .todo-app__input_type_edit,
.todo-app__item > .todo-app__button {
	vertical-align: middle;
}

.todo-app__input_type_complete {
	margin: 0 10px;
}

.todo-app__task-label {
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 18px;
	width: 226px;
}

.todo-app__input_type_edit {
	width: 226px;
}

.todo-app__cross-icon {
	height: 2em;
	transform: rotateZ(45deg);
	transition: transform 200ms ease-in;
}

.todo-app__cross-icon:hover {
	transform: rotateZ(0);
}

/* Completed */
.todo-app__task-label_type_completed {
	text-decoration: line-through;
	color: #888;
}

/* Edit Task */
.todo-app__input_type_edit {
	display: none;
}

.edit-item .todo-app__input_type_edit {
	display: inline-block;
	width: 224px;
}

.edit-item .todo-app__task-label {
	display: none;
}
