/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.main__row-task {
  display: flex;
}
.main__list {
  margin:0;
  padding: 0px;
}
.main__list-item, 
.header__title {
  list-style:none;
}
input, .btn {
  outline:none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3A3a;
}
/* Heading */
.title,
.main__new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main__text:focus {
  color: #333;
}

/* New Task */
.main__new-task {
  display: block;
  margin: 0 0 20px;
}
.main__row-input-id {
  width: 318px;
}

/* Task list */
.main__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__list-item {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}
.main__task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main__task {
  width: 226px;
}
.img__delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.img__delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.main__task__completed-tasks {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main__task-text {
  display:none;
}

.main__task-text__edit {
  display:inline-block;
  width:224px;
}

.main__task-edit__label {
  display:none;
}