/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.section__task-text,
.tasks-list__input_text,
.tasks-list__task-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.section__wrapper {
  display: flex;
}
.section__tasks-list {
  margin: 0;
  padding: 0px;
}
.tasks-list__item,
.section__title {
  list-style: none;
}
.section__task-text,
.tasks-list__input,
.section__button,
.tasks-list__button{
  outline: none;
}
.section__button,
.tasks-list__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.section__button:hover,
.tasks-list__button:hover {
  color: #3a3a3a;
}
/* Heading */
.section__title_new-task,
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.section__task-text,
.tasks-list__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.section__task-text:focus,
.tasks-list__input_text:focus {
  color: #333;
}

/* New Task */
.section__title_new-task {
  display: block;
  margin: 0 0 20px;
}
.section__task-text {
  width: 318px;
}

/* Task list */
.tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-list__item > * {
  vertical-align: middle;
}

.tasks-list__input_checkbox {
  margin: 0 10px;
}
.tasks-list__item > .tasks-list__task-text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-list__input_text {
  width: 226px;
}
.tasks-list__button_delete .tasks-list__button-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks-list__button_delete .tasks-list__button-image:hover {
  transform: rotateZ(0);
}

/* Completed */
.section__tasks-list#completed-tasks .tasks-list__task-text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list__input_text {
  display: none;
}

.tasks-list__item_edit-mode .tasks-list__input_text {
  display: inline-block;
  width: 224px;
}

.tasks-list__item_edit-mode .tasks-list__task-text {
  display: none;
}