ul {
    margin: 0;
    padding: 0px;
  }
  
  li {
    list-style: none;
  }
  
  input,
  .btn {
    outline: none;
  }
  
  .btn {
    background: none;
    border: 0px;
  }
  

/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
    width: 100%;
}

.header__link {
  font-family: "fantasy", cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.new-task {
    display: flex;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.title:first-child {
    margin: 0 0 20px;
  }
.input-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}
.input-text:focus {
  color: #333;
}

/* New Task */
.input-text_new {
  width: 420px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task > * {
  vertical-align: middle;
}

.task > .input-text {
  margin: 0 10px;
}
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task > .input-text {
  width: 226px;
}
.btn__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn__image:hover  {
  transform: rotateZ(0);
}

/* Completed */
.task-list_completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task .input-text {
  display: none;
}

.task-list .task.edit .input-text {
  display: inline-block;
  width: 224px;
}

.task-list .task.edit .task__label {
  display: none;
}