/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-logo {
  width: 100%;
}

.more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .header { 
      text-align: center;
    }
}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.todo-list {
  margin: 0;
  padding: 0px;
}

.list-item, .heading {
  list-style: none;
}

.input, .button{
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.heading,
.new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input.task:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > .input, .list-item > .label, .list-item > .button {
  vertical-align: middle;
}

.list-item > .input.checkbox {
  margin: 0 10px;
}

.list-item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item > .input.task {
  width: 226px;
}

.remove-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item .input.task {
  display: none;
}

.list-item.edit-mode .input.task {
  display: inline-block;
  width: 224px;
}

.list-item.edit-mode .label {
  display: none;
}