/* Basic Style */
.todo-app {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo__task,
.todo__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__input-container {
  display: flex;
}

.todo__list {
  margin: 0;
  padding: 0px;
}

.todo__list-item,
.todo__header {
  list-style: none;
}

.todo__input,
.todo__button{
  outline: none;
}

.todo__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.todo__button:hover {
  color: #3a3a3a;
}

/* Heading */
.todo__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo__task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #FFF;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.todo__task:focus {
  color: #333;
}

/* New Task */
.todo__header--add {
  display: block;
  margin: 0 0 20px;
}

.todo__task--new {
  width: 318px;
}

/* Task list */
.todo__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__checkbox,
.todo__label,
.todo__task-input,
.todo__btn--edit,
.todo__btn--delete {
  vertical-align: middle;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo__task-input {
  width: 226px;
}

.todo__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo__label--done {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__task-input,
.todo__label--editing {
  display: none;
}

.todo__task--editing {
  display: inline-block;
  width: 224px;
}