/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__image {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.task-input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.task-row {
    display: flex;
}

.list {
    margin: 0;
    padding: 0;
}

.list__item {
    list-style: none;
}

.input,
.button {
    outline: none;
}

.button {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.button:hover {
    color: #3a3A3a;
}

/* Heading */
.heading {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.input--text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.input--text:focus {
    color: #333;
}

/* New Task */
.new-task__label {
    display: block;
    margin: 0 0 20px;
}

.new-task__input {
    width: 318px;
}

/* Task list */
.list__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item > * {
    vertical-align: middle;
}

.list__item-checkbox {
    margin: 0 10px;
}

.list__item-label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.list__item-input {
    width: 226px;
}

.button--delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.button--delete img:hover {
    transform: rotateZ(0);
}

/* Completed Tasks */
.list--completed .list__item-label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.list__item-input {
    display: none;
}

.list__item--edit-mode .list__item-input {
    display: inline-block;
    width: 224px;
}

.list__item--edit-mode .list__item-label {
    display: none;
}