/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix-methodology {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix-methodology .matrix-methodology__img {
  width: 100%;
}
.matrix-methodology .matrix-methodology__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix-methodology { text-align: center;
  }
}
.list-of-tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-explanation {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.added-task {
  display: flex;
}
ul,
li,
h3 {
  margin: 0;
  padding: 0px;
  list-style:none;
}
input,button{
  outline:none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.added-task__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-input:focus {
  color: #333;
}

/* New Task */
.added-task__title {
  display: block;
  margin: 0 0 20px;
}
.added-task-explanation{
   width: 318px;
}

/* Task list */
.tasks-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-list > * {
  vertical-align: middle;
}

.tasks-list > .task-checkbox {
  margin: 0 10px;
}
.tasks-list > .task-explanation {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-list > .task-input {
  width: 226px
}
.task-delete .remove-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-delete .remove-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks-explanation {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.task-input-change {
  display:none
}

.edit-tasks .task-input {
  display:inline-block;
  width:224px
}

.edit-tasks .completed-tasks-explanation{
  display: none;
}

.edit-tasks .task-explanation {
  display:none;
}