/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header .header__img {
  width: 100%;
}
.header .header__link {
  font-family: fantasy, cursive;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add__row {
  display: flex;
}

.main__list {
  margin: 0;
  padding: 0px;
}

.main__list_item,
.main__title {
  list-style: none;
}

.main__input,
.main__button{
  outline: none;
}

.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main__button:hover {
  color: #3a3A3a;
}

/* Heading */
.main__title,
.main__label[for="add__label"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.main__input[type="text"]:focus {
  color: #333;
}

/* New Task */
.main__label[for="add__label"] {
  display: block;
  margin: 0 0 20px;
}

.main__input#add__label {
  width: 318px;
}

/* Task list */
.main__list_item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__list_item > * {
  vertical-align: middle;
}

.main__list_item > .main__input[type="checkbox"] {
  margin: 0 10px;
}

.main__list_item > .main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__list_item > .main__input[type="text"] {
  width: 226px;
}

.main__button.task__delete .main__button_img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__button.task__delete .main__button_img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main__list#main__done .main__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main__list .main__list_item .main__input[type=text] {
  display: none
}

.main__list .main__list_item.task__item_edit .main__input[type=text] {
  display: inline-block;
  width: 224px
}

.main__list .main__list_item.task__item_edit .main__input {
  display: none;
}