/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more-inf{
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
#add-item-section__form__task-row__input,
.to-do-section__label,
.to-do-section__input,
.completed-section__label,
.completed-section__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-item-section__form__task-row {
  display: flex;
}
#to-do-section__form__incomplete-tasks,
#completed-section__form__completed-tasks {
  margin: 0;
  padding: 0px;
}
.to-do-section__task,
.to-do-section__task--edit-mode,
.completed-section__task,
.to-do-section__header, 
.completed-section__header {
  list-style: none;
}
#add-item-section__form__task-row__input,
.to-do-section__input,
.completed-section__input,
#add-item-section__form__task-row__button,
.to-do-section__button,
.to-do-section__button--edit,
.to-do-section__button--delete,
.completed-section__button,
.completed-section__button--edit,
.completed-section__button--delete {
  outline: none;
}
#add-item-section__form__task-row__button,
.to-do-section__button,
.to-do-section__button--edit,
.to-do-section__button--delete,
.completed-section__button,
.completed-section__button--edit,
.completed-section__button--delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
#add-item-section__form__task-row__button:hover,
.to-do-section__button:hover,
.to-do-section__button--edit:hover,
.to-do-section__button--delete:hover,
.completed-section__button:hover,
.completed-section__button--edit:hover,
.completed-section__button--delete:hover {
  color: #3a3a3a;
}
/* Heading */
.to-do-section__header,
.completed-section__header,
#add-item-section__form__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
#add-item-section__form__task-row__input,
.to-do-section__input,
.completed-section__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}
#add-item-section__form__task-row__input:focus,
.to-do-section__input:focus,
.completed-section__input:focus {
  color: #333;
}

/* New Task */
#add-item-section__form__label{
  display: block;
  margin: 0 0 20px;
}
#add-item-section__form__label {
  width: 318px;
}

/* Task list */
.to-do-section__task,
.to-do-section__task--edit-mode,
.completed-section__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do-section__task,
.to-do-section__task--edit-mode,
.completed-section__task {
  vertical-align: middle;
}

.to-do-section__checkbox,
.completed-section__checkbox {
  margin: 0 10px;
}
.to-do-section__label,
.completed-section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.to-do-section__input,
.completed-section__input {
  width: 226px;
}
.to-do-section__img,
.completed-section__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.to-do-section__img:hover,
.completed-section__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-section__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.to-do-section__input,
.completed-section__input {
 display: none;
}

.to-do-section__input--edit-mode {
  display: inline-block;
  width: 224px;
}

.to-do-section__input--edit-mode {
  display: none;
}