/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-tasks {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__item,
.heading {
  list-style: none;
}

.list__checkbox,
.task-input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.task-input:focus {
  color: #333;
}

/* New Task */
.list__text,
.task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-tasks {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.add-tasks__heading {
  margin: 0 0 20px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item > * {
  vertical-align: middle;
}

.list__checkbox {
  margin: 0 10px;
}

.list__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.button.delete .button__icon_delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button.delete .button__icon_delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.execute-tasks__list .list__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-input {
  display: none;
}

.new-tasks__input {
  display: inline-block;
  width: 318px;
}

.list__item-edit .task-input {
  display: inline-block;
  width: 224px;
}

.list__item-edit .list__text {
  display: none;
}