/*use tag selectors for intentionally resetting the default styles*/
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
button{
  outline:  none;
  border: none;
  background-color: transparent;
}

/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__inform {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}

.tasks {
  width: 500px;
  margin: auto;
}

.add__input,
.incomplete__input,
.completed__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add__confirm,
.incomplete__confirm,
.completed__confirm {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add__confirm:hover,
.incomplete__confirm:hover,
.completed__confirm:hover {
  color: #3a3a3a;
}

/* Heading */
.add__header,
.incomplete__header,
.completed__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.add__input,
.incomplete__input,
.completed__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.add__input {
  width: 416px;
}

.add__input:focus,
.incomplete__input:focus,
.completed__input:focus {
  color: #333;
}

/* New Task */
.add__header {
  display: block;
  margin: 0 0 20px;
}

.add__new {
  width: 416px;
}

/* Task list */
.incomplete__task,
.completed__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incomplete__check,
.completed__check {
  margin: 0 10px;
}

.incomplete__label,
.completed__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.incomplete__delete-img,
.completed__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.incomplete__delete-img:hover,
.completed__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.incomplete__edit .incomplete__label,
.completed__edit .completed__label {
  display: none;
}

.incomplete__input,
.completed__input {
  visibility: hidden;
}

.incomplete__edit .incomplete__input,
.completed__edit .completed__input {
  visibility: visible;
} 