/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
#matrix-img {
  width: 100%;
}
#matrix-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.matrix { text-align: center;
}
}
.tasks-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-title-input,
.task-title-label,
.new-task-title-input,
.new-task-title-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-row-wrapper {
  display: flex;
}
.tasks {
  margin:0;
  padding: 0px;
}
.task, .tasks-category {
  list-style:none;
}
input, button{
  outline:none;
}
.task-delete,
.task-edit,
#new-task-add {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;

  &:hover {
    color: #3a3a3a;
  }
}
/* Heading */
.tasks-category,
.new-task-title-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-title-input,
.new-task-title-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;

  &:focus {
    color: #333;
  }
}

/* New Task */
.new-task-title-label {
  display: block;
  margin: 0 0 20px;
}

#new-task-input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task {
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin: 0 10px;
}
.task-title-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-title-input {
  width: 226px
}
.task-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-title-input {
  display:none
}

.task-edited .task-title-input {
  display:inline-block;
  width:224px
}

.task-edited .task-title-label {
  display:none;
}