/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-img {
  width: 100%;
}

.header-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

 .header { 
    text-align: center;
 }

}
.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.top-section-block {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.task-list-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;    
}

/* Heading */
.title-text,
.top-section-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task, task-list-input,
.top-section-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task task-list-input:focus,
.top-section-input:focus {
  color: #333;
}

.top-section-input {
  width: 318px;
}

/* Task list */
.task-list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-item > * {
  vertical-align: middle;
}

.task-list-checkbox {
  margin: 0 10px;
}

.task-list-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list-input {
  width: 226px;
}

.button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main-task-list-complete .task-list-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list-input {
  display: none;
}

.task-list-item-edit .task-list-input {
  display: inline-block;
  width: 224px;
}

.task-list-item-edit .task-list-label {
  display: none;
}