/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img{
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

li {
  list-style: none;
}

input,
button{
  outline: none;
}

.todo-list {
  margin: 0;
  padding: 0px;
}

.todo-item__label,
.todo-item__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo-item__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todo-item__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.todo-section--add-item{
  margin-bottom: 20px;
}

.todo-section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo-item__input{
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todo-item__input:focus {
  color: #333;
}



/* Task list */
.todo-item {
  display: flex;
}

.todo-item--editable {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
}

.todo-item > * {
  vertical-align: middle;
}

.todo-item__checkbox {
  margin: 0 10px;
}

.todo-item__label{
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo-item__input {
  width: 226px
}

.todo-item__img-delete{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo-item__img-delete:hover {
  transform: rotateZ(0);
}


/* New Task */
.todo-section__title--add-item{
  display: block;
  margin: 20px 0 20px;
}

.todo-item__input--add-item {
  width: 318px;
}

/* Completed */
.todo-list--completed .todo-item__label{
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo-item--editable .todo-item__input {
  display: none;
}

.todo-item--edit .todo-item__input {
  display: inline-block;
  width: 224px;
}

.todo-item--edit .todo-item__label {
  display: none;
}