/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.logo {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.logo-img {
  width: 100%;
}
.logo-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .logo {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-label,
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-wrapper {
   display: flex;
}
#todo-tasks,
#completed-tasks {
  margin: 0;
  padding: 0px;
}
.title,
.todo-list {
  list-style: none;
}
input,
button {
  outline: none;
}
.add,
.edit,
.remove {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.new-task-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.todo-list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}
.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
#todo-tasks .task {
  width: 226px;
}
.remove-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.remove-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task {
  display: none;
}

#new-task {
  display: block;
}

.edit-mode .task {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-label {
  display: none;
}