/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
}

li, h3 {
  list-style: none;
}

input,button{
  outline: none;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header img {
  width: 100%;
}

.header-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header-info { 
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.name-task,
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #FFF;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.task-text:focus {
  color: #333;
}

/* New Task */
.main-title {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item > * {
  vertical-align: middle;
}

.item > .task-checkbox {
  margin: 0 10px;
}

.name-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item > .task-text {
  width: 226px;
}

.btn.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-name-task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item .task-text {
  display: none;
}

.edit-mode .task-text {
  display: inline-block;
  width: 224px;
}

.edit-mode .name-task {
  display: none;
}