/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
.picture{
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.picture__img {
    width: 100%;
}
.picture__link {
    font-family: fantasy, cursive;
    display: flex;
    justify-content: end;
}
.main-form {
    display: block;
    width: 500px;
    margin: auto;
}

.main-form__input_task {
     width: 56%;
     display: inline-block;
     flex-grow: 1
 }

.main-form__adding_text {
    display: flex;
}
.main-form__items {
    margin:0;
    padding: 0px;
}
.main-form__item, .main-form__title {
    list-style:none;
}

.main-form__input,.main-form__button {
    outline:none;
}
.main-form__button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.main-form__button:hover {
    color: #3a3A3a;
}
/* Heading */
.main-form__title,
.main-form__new_task[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.main-form__input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.main-form__input[type="text"]:focus {
    color: #333;
}

/* New Task */
.main-form__new_task[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}
.main-form__new_task {
    width: 318px;
}


/* Task list */
.main-form__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-form__item > * {
    vertical-align: middle;
}
.main-form__checkbox {
    margin: 0 10px;
}
.main-form__item > input[type="checkbox"] {
    margin: 0 10px;
}
.main-form__item > label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.main-form__input_task {
    width: 226px
}
.main-form__delete{
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.main-form__delete:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task {
    text-decoration: line-through;
    color: #888;
}
/* Edit Task */
.main-form__input_task:not(.main-form__add_input) {
    display:none
}

.main-form__edit_mode .main-form__input_task {
    display:inline-block;
    width:224px
}

.main-form__edit_mode .main-form__label {
    display:none;
}
@media (max-width:768px) {
    .picture {
        text-align: center;
    }
}