/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.header img {
    width: 100%;
}
.header .more_inf {
    font-family: fantasy, cursive;
}

.main_page_element {
    display: block;
    width: 500px;
    margin: 0 auto;
}
.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}
.task_row_wrapper {
    display: flex;
}
.list {
    margin: 0;
    padding: 0px;
}
.list_element {
    list-style: none;
}

.input,
.button {
    outline: none;
}
.button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.button:hover {
    color: #3a3A3a;
}

/* Heading */
.h2 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.input[type="text"]:focus {
    color: #333;
}

/* New Task */
.label_new_task {
    display: block;
    margin: 0 0 20px;
}
#new_task {
    width: 318px;
}

/* Task list */
.list_element {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_element > * {
    vertical-align: middle;
}

.list_element > input[type="checkbox"] {
    margin: 0 10px;
}
.list_element > .task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.list_element > .input[type="text"] {
    width: 226px;
}
.button.delete img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.button.delete img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed_tasks .task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.list_element .input[type=text] {
    display: none;
}

.list_element.edit_Mode .input[type=text] {
    display: inline-block;
    width: 224px;
}

.list_element.edit_Mode .task {
    display: none;
}


@media (max-width:768px) {
    .header { 
        text-align: center;
}
}