/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.info-section {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.preview-image {
    width: 100%;
}

.info-section .info-link {
    font-family: fantasy, cursive;
}

.app-title {
    display: none;
}

@media (max-width: 768px) {
    .info-section {
        text-align: center;
    }
}

.todo-app {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.add-task,
.task-label,
.edit-task {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.input-wrapper {
    display: flex;
}

#todo-tasks,
#completed-tasks {
    margin: 0;
    padding: 0px;
}

.todo-item,
.section-title {
    list-style: none;
}

.checkbox,
.edit-task,
.add-task,
.add-button,
.edit-button,
.delete-button {
    outline: none;
}

.add-button,
.edit-button,
.delete-button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.add-button:hover,
.edit-button:hover,
.delete-button:hover {
    color: #3a3a3a;
}

/* Heading */
.section-title,
.add-task-label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.add-task,
.edit-task {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.add-task:focus,
.edit-task:focus {
    color: #333;
}

/* New Task */
.add-task-label {
    display: block;
    margin: 0 0 20px;
}

.add-task {
    width: 318px;
}

/* Task list */
.todo-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item>.checkbox,
.todo-item>.task-label,
.todo-item>.edit-task,
.todo-item>.edit-button,
.todo-item>.delete-button {
    vertical-align: middle;
}

.checkbox {
    margin: 0 10px;
}

.task-label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.edit-task {
    width: 226px;
}

.cross-icon {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.cross-icon:hover {
    transform: rotateZ(0);
}

/* Completed */
.completed-label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.edit-task {
    display: none;
}

.edit-item .edit-task {
    display: inline-block;
    width: 224px;
}

.edit-item .task-label {
    display: none;
}