ul {
    margin:0;
    padding: 0px;
  }
  
  li {
    list-style:none;
  }
  
  input,
  button{
    outline:none;
  }
  
  button {
    background: none;
    border: 0px;
  }
  

/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header .link {
  font-family: "fantasy", cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.todo-app {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row-wrapper {
  display: flex;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}
.task-text:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
.task-item {
  width: 318px;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item > * {
  vertical-align: middle;
}

.task-item > .task-text {
  margin: 0 10px;
}
.task-item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-item > .task-text {
  width: 226px;
}
.btn.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-item .task-text {
  display:none;
}

.task-list .task-item.editMode .task-text {
  display:inline-block;
  width:224px;
}

.task-list .task-item.editMode .label {
  display:none;
}